@mixin font($fontName) {
    font-family: $fontName, sans-serif;
}

@mixin size($w,$h:$w) {
    width: $w;
    height: $h;
}

@mixin bg-prop($size: cover,$repeat: no-repeat,$position: center,$image: "") {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
    background-image: url($image);
}

@mixin media($media) {
    @if $media == "tablet" {
        @media only screen and (max-width: 1150px) { @content; }
    }
    @else if $media == "mobile" {
        @media only screen and (max-width: 768px) { @content; }
    }
}
