.card-list {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    &__title {
        @include font("Exo");
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
    }

    &__container {
        padding-top: 47px;
    }

    &__list {

        @include media("mobile") {
            flex-direction: column;
            align-items: center;
        }

        @include media("tablet") {
            flex-wrap: wrap;
            justify-content: center;
        }

        display: flex;
        justify-content: space-between;
    }

    &__item-descr {
        color: #fff;
        font-size: 13px;
        text-align: center;
    }

    &__item {

        @include media("mobile") {
            margin: 0 0 30px;
        }

        @include media("tablet") {
            margin: 0 29px 20px;
        }

        width: 100%;
        max-width: 320px;
    }

    &__item_disabled &__item-descr {
        color: $yellow;
    }

    &__item-card {
        margin-bottom: 15px;
    }

    &__item-link {
        font-size: inherit;
        line-height: inherit;
        color: $blue;
        text-decoration: none;

        span {
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            border-bottom: 1px dashed $blue;
        }

        &:after {
            content: ".";
        }
    }
}

