include ../../components/card/card

mixin card-in-list(themeCard,themeCardItem)
    .card-list__item(class=themeCardItem === undefined ? "" : themeCardItem)
        +card(`card_in-row card-list__item-card ${themeCard === undefined ? "" : themeCard}`)
        .card-list__item-descr Чего сидишь? Порадуй котэ,&nbsp;
            a(href="javascript:void(0)").card-list__item-link
                span купи

.card-list
    .container
        .card-list__container
            .card-list__title Ты сегодня покормил кота?
            .card-list__list
                +card-in-list()
                +card-in-list("card_select")
                +card-in-list("card_disabled","card-list__item_disabled")

