extends ../layouts/default

block variables
	- const title = "Карточки";

block content
	include ../../blocks/modules/card-list/card-list
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
