extends layouts/default
include helpers/mixins

block variables
	- const title = "All pages & ui kit"

block content
	.container
		h1 Список страниц
		ul
			li
				a(href="./card-list.html" style="color:#fff;") Верстка карточек
			li
				a(href="./react.html" style="color:#fff;") Логика на реакте

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
