.card {
    display: block;
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 480px;
    overflow: hidden;
    border-top: 0;
    border-left: 0;
    border-radius: 7px;
    text-decoration: none;
    border-bottom: 4px solid $blue;
    border-right: 4px solid $blue;
    cursor: pointer;

    &_in-row {
        max-width: 320px;
    }

    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: -3px;
        left: 35px;
        width: calc(100% - 25px);
        border: 4px solid $blue;
    }

    &:before {
        @include size(1000%, 5000%);
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border: 4px solid $blue;
        transform: rotate(45deg) translate(25px, -50%); /* 25px for the cut height/width */
        transform-origin: left top;
        background: $darken-white;
        opacity: 1;
        pointer-events: none;
    }

    &_disabled {
        pointer-events: none;
        border-color: $light-gary;

        &:after, &:before {
            border-color: $light-gary;
        }
    }

    &_disabled &__weight {
        background-color: $light-gary;
        opacity: .8;
    }

    &_disabled &__img, &_disabled &__title, &_disabled &__promo-text {
        opacity: .4;
    }

    &_disabled &__subtitle, &_disabled &__descr, &_disabled &__img {
        opacity: .4;
    }

    &_disabled &__content {
        &:before {
            border-color: $light-gary;
        }
    }

    &_select {
        border-color: $pink;

        &:after, &:before {
            border-color: $pink;
        }
    }

    &_select &__weight {
        background-color: $pink;
    }

    &_select &__content {
        &:before {
            border-color: $pink;
        }
    }

    &_leave {
        border-color: $pink;

        &:after, &:before {
            border-color: $pink;
        }
    }

    &_leave &__weight {
        background-color: $pink;
    }

    &_leave &__content {
        &:before {
            border-color: $pink;
        }
    }

    &_leave &__promo-text {
        color: $pink;
    }

    &__content {
        position: relative;
        z-index: 2;
        height: 100%;
        padding: 20px 5px 0 49px;

        &:before {
            content: "";
            position: absolute;
            z-index: 3;
            top: 35px;
            left: -3px;
            height: 100%;
            border: 4px solid $blue;
        }
    }

    &__promo-text {
        font-size: 16px;
        color: $gray;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    &__title {
        font-size: 48px;
        color: $black;
        font-weight: 600;
        line-height: 1.2;
    }

    &__subtitle {
        font-size: 24px;
        color: $black;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 13px;
    }

    &__descr {
        font-size: 14px;
        color: $gray;
        font-weight: 600;
        line-height: 1.143;

        &_line-double {
            max-width: 113px;
        }
    }

    &__img {
        @include size(370px, 360px);
        position: absolute;
        z-index: 2;
        bottom: -88px;
        left: -24px;

        img {
            @include size(100%);
            object-fit: contain;
        }
    }

    &__weight {
        @include size(81px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        right: 16px;
        bottom: 16px;
        border-radius: 50%;
        background-color: $blue;
        text-align: center;
        color: $white;
    }

    &__weight-number {
        position: relative;
        top: 5px;
        font-size: 42px;
    }

    &__weight-text {
        position: relative;
        top: -3px;
        font-size: 21px;
    }
}
