mixin card(theme)
    a(href="javascript:void(0)" class=theme).card
        .card__content
            .card__promo-text Сказочное заморское яство
            .card__title Нямушка
            .card__subtitle с фуа-гра
            .card__descr.card__descr_line-double 10 порций мышь в подарок
            .card__img
                img(src="./img/cat.png")
            .card__weight
                span.card__weight-number 0,5
                span.card__weight-text кг

