@font-face {
    font-family: "Exo";
    src: url("../../fonts/Exo2.0-Thin.otf") format('otf'),
    url('../../fonts/Exo2.0-Thin.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../fonts/TrebuchetMS.eot');
    src: url('../../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TrebuchetMS.woff') format('woff'),
    url('../../fonts/TrebuchetMS.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../fonts/TrebuchetMS-Bold.eot');
    src: url('../../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TrebuchetMS-Bold.woff') format('woff'),
    url('../../fonts/TrebuchetMS-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
