*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    @include size(100%, 100%);
}

body {
    @include font("Trebuchet MS");
    @include bg-prop(initial, repeat, center, "#{$img}/bg.png");
    font-size: 14px;

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.5) 100%);
    }
}


h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
}

.container {

    @include media("tablet") {
        max-width: 768px;
    }

    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1130px;
    padding: 0 5px;
    margin: auto;
}

#root {
    @include size(100%, 100%);
}
